.venv
.mypy_cache
.pytest_cache
.ruff_cache
.hypothesis
.coverage
.coverage.*
htmlcov
.media
.media-test
.rawcache
.rawcache-test
staticfiles
celerybeat-schedule
*.egg-info
**/__pycache__
.env
.env.*
*.sql
*.sql.gz
